{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">

    <div class="row">
    <div class="col-lg-9">
        {% for o in order.items.all %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="{{ o.item.image.url }}" alt="" class="card-img-top">
                        <a href="{% url 'store:remove-from-cart' o.item.slug %}" class="btn btn-sm btn-danger">-</a>
                        <span>{{ o.qty }}</span>
                        <a href="{% url 'store:add-to-cart' o.item.slug %}" class="btn btn-sm btn-success">+</a>
                    </div>
                    <div class="col-lg-9">
                        <h2>{{ o.item.title }}</h2>

                        {% if o.item.discount_price %}
                            <del><p class="small">Rs. {{ o.item.price }}</p></del>
                        <p class="small">Rs. {{ o.item.discount_price }}</p>
                        {% else %}
                            <p class="small">Rs. {{ o.item.price }}</p>
                        {% endif %}

                        <a href="{% url 'store:remove-item' o.item.slug %}" class="btn btn-danger"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
</svg></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-lg-3">

    </div>
    </div>
    </div>
{% endblock %}