{% extends 'base.html' %}


{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{ object.image.url }}" class="w-100" alt="">
            </div>
            <div class="col-lg-6">
                <h3>{{ object.title }}</h3>
                <p class="small">{{ object.brand }}</p>
                <p class="small">{{ object.category }}</p>
                {% if object.discount_price %}
                    <p class="lead text-muted"><del>Rs. {{ object.price }}</del>
                    <span class="lead text-success font-weight-bold">Rs. {{ object.discount_price }}</span>
                    </p>
                {% else %}
                    <p class="lead">Rs. {{ object.price }}</p>
                {% endif %}
                <a href="{{ object.get_add_to_cart_url }}" class="btn btn-success">Add to Cart</a>

            </div>
        </div>
    </div>

      <div class="container mt-5">
      <h4>Related Products</h4>
        <div class="row">
            {% for pro in related_items %}
            <div class="col-lg-3">
                <div class="card">
                    <img src="{{ pro.image.url }}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h6>{{ pro.title }}</h6>
                            <a href="{{ pro.get_absolute_url }}" class="btn btn-primary stretched-link">Buy Now</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}